### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Player Count

In [92]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = (r"C:\Users\marce\OneDrive\Desktop\Git\pandas_challenge\Resources\purchase_data.csv")
    

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [93]:
total_players = len(purchase_data["SN"].value_counts())
players = {"Total Number Of Players" : [total_players]}
unique_players_df = pd.DataFrame(players)
unique_players_df

   Total Number Of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [94]:
#Obtain Unique items

unique_items = purchase_data["Item ID"].nunique()

#Obtain Average Purchase Price

average_price = purchase_data["Price"].mean()

#Obtain Total Number of Purchases
total_purchases = purchase_data["Purchase ID"].count()

#Obtain Total Revenue
total_revenue = purchase_data["Price"].sum()

#Create and Format DataFrame
purchase_analysis_df = pd.DataFrame(
{"Total number of Unique Items" : [unique_items],
  "Average Price" : [average_price],
  "Total Number of Purchases" : [total_purchases],
  "Total Revenue" :  [total_revenue]})

purchase_analysis_df["Average Price"] =purchase_analysis_df["Average Price"].map("${:.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.2f}".format)




purchase_analysis_df.head()

,Total number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [95]:
all_genders = purchase_data['SN'].nunique()

#Male Count and Precentage

total_male = purchase_data[purchase_data["Gender"]== 'Male']['SN'].nunique()
percent_male =((total_male/all_genders)*100)

#Female Count and Precentage 

total_female = purchase_data[purchase_data["Gender"]== 'Female']['SN'].nunique()
percent_female =((total_female/all_genders)*100)

#Other/Non-Disclosed count and Precentage

total_other = all_genders - total_male - total_female
percent_other =((total_other/all_genders)*100)

                
gender_df = pd.DataFrame  ({"Gender" : ["Male", "Female",'Non-Disclosed'],
      "Total" : [total_male, total_female, total_other],
      "Percent" : [percent_male, percent_female, percent_other]},
       columns = ["Gender", "Percent", "Total"])

gender_df["Percent"] = gender_df["Percent"].map("{:.2f}%".format)
gender_df.head()

          Gender Percent  Total
0           Male  84.03%    484
1         Female  14.06%     81
2  Non-Disclosed   1.91%     11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [124]:
#Calculate total purchase count, Average Purchase Price,
#Average Purchase  per person and Total purchase value per gender

#Male
male_purchase = purchase_data[purchase_data["Gender"] == 'Male']["Price"].count()
male_avg_price = purchase_data[purchase_data["Gender"] == "Male"]['Price'].mean()
male_purchase_total = purchase_data[purchase_data["Gender"] == "Male"]['Price'].sum()

#Female
female_purchase = purchase_data[purchase_data["Gender"] == 'Female']["Price"].count()
female_avg_price = purchase_data[purchase_data["Gender"] == 'Female']['Price'].mean()
female_purchase_total = purchase_data[purchase_data["Gender"] == 'Female']['Price'].sum()

#Other / Non-Disclosed
other_purchase = purchase_data[purchase_data["Gender"] == 'Other / Non-Disclosed']["Price"].count()
other_avg_price = purchase_data[purchase_data["Gender"] == 'Other / Non-Disclosed']['Price'].mean()
other_purchase_total = purchase_data[purchase_data["Gender"] == 'Other / Non-Disclosed']['Price'].sum()

gender_purchase_df = pd.DataFrame({"Gender" : ["Male", "Female", "Other / Non-Disclosed"],
 "Total Purchase Count" : [male_purchase, female_purchase, other_purchase],
 "Average Purchase Price" : [male_avg_price, female_avg_price, other_avg_price],
 "Total Purchase Value" : [male_purchase_total, female_purchase_total, other_purchase_total]},
  columns = ["Gender", "Total Purchase Count",  "Average Purchase Price", "Total Purchase Value"])

gender_purchase_df["Average Purchase Price"] = gender_purchase_df["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_df["Total Purchase Value"] = gender_purchase_df["Total Purchase Value"].map("${:.2f}".format)
gender_purchase_df

,Gender,Total Purchase Count,Average Purchase Price,Total Purchase Value
0,Male,652,$3.02,$1967.64
1,Female,113,$3.20,$361.94
2,Other / Non-Disclosed,15,$3.35,$50.19

# Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [125]:
#Establish the Bins for the age of each player
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_bin_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

player_demographic = pd.cut(purchase_data['Age'], age_bins, labels = age_bin_labels)

age_demographic_total = player_demographic.value_counts()
age_demographic_percent = (age_demographic_total / total_players) *100

age_demographic_df = pd.DataFrame({"Percent" : age_demographic_percent,
                                   "Total" : age_demographic_total})
age_demographic_df = age_demographic_df.sort_index()

age_demographic_df["Percent"] = age_demographic_df["Percent"].map("{:.2f}%".format)

age_demographic_df

      Percent  Total
<10     3.99%     23
10-14   4.86%     28
15-19  23.61%    136
20-24  63.37%    365
25-29  17.53%    101
30-34  12.67%     73
35-39   7.12%     41
40+     2.26%     13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

# Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame